annotated-types==0.7.0
iniconfig==2.0.0
fastapi==0.115.0
fastapi-cli==0.0.5
pep8==1.7.1
psycopg2==2.9.9
pydantic==2.9.2
pydantic_core==2.23.4
pytest==8.3.3
python-dotenv==1.0.1
SQLAlchemy==2.0.36
uvicorn==0.31.0
